<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
  <!--<bean id="managerClass" class="ManagerClass"/>-->
  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations" value="file:cfg/appConfig.properties" />
  </bean>

  <bean id="task9DS" class="org.h2.jdbcx.JdbcConnectionPool">
    <constructor-arg value="${DBName}" />
    <constructor-arg value="${DBUser}" />
    <constructor-arg value="${DBPsw}" />
  </bean>

  <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
    <constructor-arg ref="task9DS" />
  </bean>

  <bean id="userDao" class="ru.tander.tasks.task9.dao.UserDaoImpl">
    <property name="jdbcTemplate" ref="jdbcTemplate" />
  </bean>
</beans>